body {
  margin: 0;
  font-family: monospace;
}

h1{
  color:whitesmoke;
  font-family:'Notable', 'san-serif';
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));
  text-align: center;
}

#event-header {
  display: flex;
  justify-content: center;
  background-image:url('https://images.pexels.com/photos/1543767/pexels-photo-1543767.jpeg');
  background-size:cover;
  background-position: center;
  opacity: .8;
  height: 10rem;
  padding: 1rem;
}

#event-header img {
  height: 10rem;
  width: auto;
}

#post-container {
  margin: 2rem;
}

.post-card {
  text-align: left;
  border: #cbcbcb solid 1px;
  border-radius: 15px 50px 30px;
  padding: 1rem;
  width: 30rem;
  height: max-content;
  display: inline-grid;
  margin: 3rem 3rem;
  box-shadow: 0px 0px 20px rgba(0,0,0,.5);
}

.card-title {
  text-align:center;
  margin-bottom:2rem;
}

.card-img {
  justify-self: center;
  margin-bottom:1rem;
  height: 15rem;
  width: 21rem;
  object-fit:cover;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));
}

p.card-text{
  color:#434343;
  margin-left:60px;
  margin-right:60px;
  text-align:left;
}

#card-btn {
  margin:20px;
}

button {
  position: relative;
  background-color: #434343;
  border: none;
  border-radius: 15px 50px 15px;
  height: 3rem;
  width: 20rem;
  margin:10px;
  font-family: monospace;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));
}

button:hover {
  background-color: whitesmoke;
  border: #5e5e5e solid 1px;
  color: #5e5e5e;
  filter: drop-shadow(0px 0px 6px rgba(0,0,0,.5));
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #92bdd1;
  opacity: .8;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));
}

.container-login {
  padding: 1rem;
  width: stretch;
  height: auto;
  background-color: #000000;
  opacity: .8;
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));
  color:whitesmoke;
}

.add-event-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: #434343;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 15px;
  justify-self: center;
  font-family: monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-login {
  position: relative;
  background-color: #92bdd1;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: #000000;
  font-size: 13px;
  justify-self: center;
  font-family: monospace;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #434343 solid 1px;
  color: #434343;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

.input-text#event-date {
  width:8rem;
}

p#time{
  text-align:center;
  color:#434343;
  margin-top:-10px;
}

p#facilitator{
  text-align:center;
  color:#434343;
}

p.attendee-count {
  text-align:center;
}

::placeholder{
  font-size:1rem;
}

select{
  font-family: monospace;
  font-size: 1rem;
}

#improve-button-container{
align-content: center;
}
